// Informs that this file is extending layout file
extends layout

// Informs that the following section goes into area of layout file called content
block content
  // Outputs h1 and p tags to content area
  h1= title
  p Welcome to #{title}