//
   Created by Information on 2016/1/25.

extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-6
      // Set form with id 'addReview' action to /location and method to get
      // (i.e. when "Add my review" button clicked, jump to /location site with 'get' parameters)
      form#addReview.form-horizontal(action="", method="post", role="form")
        // Show a message to the user at the top of the form, if a validation error was bubbled up
        -if (error == "val")
          .alert.alert-danger(role="alert") All fields required, please try again
        // Input field for reviewer to leave name
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="name") Name
          .col-xs-12.col-sm-10
            input#name.form-control(name="name")
        // Dropdown select box for rating 1 to 5
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="name") Rating
          .col-xs-12.col-sm-2
            select#rating.form-control.input-sm(name="rating")
              option 5
              option 4
              option 3
              option 2
              option 1
        // Text area for text content of review
        .form-group
          label.col-sm-2.control-label(for="review") Review
          .col-sm-10
            textarea#review.form-control(name="review", rows="5")
        // Submit button for form
        button.btn.btn-default.pull-right Add my review
    .col-xs-12.col-md-4


